{% extends "vDefAgave/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form method="POST">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Job Search</legend>
			{% crispy form %}
		</fieldset>
	</form>

	{% if jobs %}
		<article class="media content-section">
			<div class="media-body">
				<h3>Results</h3>
				{% for job in jobs %}
					<p class="article-content">{{ job.jobid }}</p>
				{% endfor %}
				<form action="{% url 'jobs-chart' jobName %}">
					<input type="submit" value="View Chart" />
				</form>	
			</div>
		</article>
	{% endif %}
{% endblock content %}