{% extends "vDefAgave/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form method="POST">
		{% crispy form %}
	</form>
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<small id="appId" class="mr-2"></small>
				<small id="lastModified" class="text-muted"></small>
			</div>
			<h3><a id="label" class="article-title" href="{% url 'jobs-setup' %}?appId=appid"></a></h3>
			<p id="description" class="article-content"></p>
			<p id="permissions"></p>
			Grant Permission
			<div class="row">
				<div class="col-md-3">
					<form method="POST">
						{% crispy permForm %}
					</form>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnPerm" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</article>
{% endblock content %}

<input type="text" name="updateUser" class="textinput textInput form-control" required id="id_updateUser">

<script type="text/javascript">
{% block jquery %}
	$("select").change(function(){
		var apps = '{{ response.result }}';
		apps = apps.replace(/&#39;/g, '"').replace(/False/g, false).replace(/True/g, true).replace(/None/g, null);
		apps = JSON.parse(apps);

		var appsEl = document.getElementById("id_apps");
		var appId = appsEl.options[appsEl.selectedIndex].value;

		var app = apps.find(function(element) {
			return element['id'] == appId;
		});

		var appIdEl = document.getElementById('appId');
		appIdEl.innerHTML = appId;

		var lastModified = new Date(app['lastModified']);
		var YYYY = lastModified.getFullYear();
		var MM = lastModified.getMonth() + 1;
		var DD = lastModified.getDate();
		var hh = lastModified.getHours();
		var mm = lastModified.getMinutes();
		var ss = lastModified.getSeconds();
		var lastModifiedEl = document.getElementById('lastModified');
		lastModifiedEl.innerHTML = `${MM}-${DD}-${YYYY} ${hh}:${mm}:${ss}`;

		var labelEl = document.getElementById('label');
		labelEl.innerHTML = app['label'];
		var labelhref = labelEl.href;
		labelEl.href = labelhref.substring(0,labelhref.lastIndexOf('=')+1) + appId;

		var descriptionEl = document.getElementById('description');
		descriptionEl.innerHTML = app['shortDescription'];
		// var El = document.getElementById('');
		// El.innerHTML = app[''];

		var endpoint = '/apps/pems/' + appId;
		$.ajax({
			method: "GET",
			url: endpoint,
			success: function(data){
				var users = data.result;
				perms = []
				users.forEach(function(user) {
					perm = user.username + ' (';
					if (user.permission['read']) {perm += 'r';} else {perm += '-'}
					if (user.permission.write) {perm += 'w';} else {perm += '-'}
					if (user.permission.execute) {perm += 'x';} else {perm += '-'}
					perm += ')';
					perms.push(perm);
				})
				perms = perms.join(', ');
				var permissionsEl = document.getElementById('permissions');
				permissionsEl.innerHTML = 'Permissions: ' + perms;
			},
			error: function(error_data){
				console.log("error");
				console.log(error_data);
			}
		})

		document.getElementById("btnPerm").onclick = function(evt) {
			var userEl = document.getElementById("id_updateUser");
			var endpoint = '/apps/pems/' + appId + '/' + userEl.value;
			$.ajax({
				method: "GET",
				url: endpoint,
				success: function(data){
					if (data.status == "success") {
						var permissionsEl = document.getElementById('permissions');
						perm = ', ' + userEl.value + ' (rwx)';
						permissionsEl.innerHTML += perm;
					}
				},
				error: function(error_data){
					console.log("error");
					console.log(error_data);
				}
			})
		}

  });
{% endblock %}
</script>