{% extends "vDefAgave/base.html" %}

<script>
{% block jquery %}
	var endpoint = '/api/data/'
	var defaultData = []
	var labels = []
	$.ajax({
		method: "GET",
		url: endpoint,
		success: function(data){
			labels = data.labels
			defaultData = data.default
			setChart()
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})

	function setChart(){
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bubble',
			data: {
				datasets: [{
					label: labels,
					backgroundColor: "rgba(193,46,12,0.2)",
					borderColor: "rgba(193,46,12,1)",
					data: defaultData
				}]
			},
			options: {
				title: {
					display: true,
					text: 'Energy'
				}, 
				scales: {
					yAxes: [{ 
						scaleLabel: {
							display: true,
							labelString: "X"
						},
						ticks: {
							beginAtZero:true
						}
					}],
					xAxes: [{ 
						scaleLabel: {
							display: true,
							labelString: "Y"
						},
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});
		document.getElementById("myChart").onclick = function(evt)
		{
			var activePoints = myChart.getElementsAtEvent(evt);

			if(activePoints.length > 0)
			{
				var clickedElementindex = activePoints[0]["_index"];   
				var value = myChart.data.datasets[0].data[clickedElementindex];
				location.href="/dataview/?index=" + clickedElementindex + "&x=" + value.x + "&y=" + value.y + "&r=" + value.r
			}
		}
	}
{% endblock %}
</script>

{% block content %}
	<div class="content-section">
		<h1>Chart</h1>
		<div class="col-lg-6">
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>
	</div>
{% endblock content %}